<!DOCTYPE html>
<html lang="en">
<head>
{{>headersLinks}}
</head>
<body>
{{>navbar}}

  <!-- main header -->
  <div class="containter-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <img src="image/1_hHqmqssYJbcutHHPd7CcKA.png" alt="prem" class="img-fluid" title="prem">
            </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>I Am A <span class="text_clr">Atul Prem</span> I Am Weather Informer!</h1>
              <a href="https://www.instagram.com/harshraj5567?igsh=MXkxMWZ0cXllcDJ0ZQ==" target="_Atulprem8069"><button>About me</button></a>
          </div>
          <!-- right side div -->
        </div>
      </div>
    </div>
  </div>
  <!-- footer code -->
  {{>footer}}
</body>
</html>